/**Amazon Clone Using HTML and CSS**/
/**Complete the CSS file, as it'll give you horizon to develope on your skills**/

*{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    border:border-box;
}

/**Header**/

/**hero section**/

/**Footer**/

